#!gcloudignore
# Only upload what's needed for the Docker build
.git
.venv
data
notebook
results
models
runs
reports
business_objective
project_document
docs
frontend
.firebase
.firebaserc
firebase.json
firebase-debug.log
.env
.env.local
*.env.*.local
*.pth
*.pt
*.csv
*.log
*.pkl
*.npy
*.tar.gz
